@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  background-color: rgb(64, 64, 64);
}

.messages-div{
  overflow: scroll;
}

.message-input {
  min-width: 97% !important;
  width: 97% !important;
} 